../.bash_history
	../.bash_logout
	../.bashrc
	../.cache/
	../.gitconfig
	../.kube/
	../.profile
	../.ssh/
	../.sudo_as_admin_successful
	../.vbox_version
	../.viminfo
	../.wget-hsts
	./
	../master
	../upgrade
